<div class="alert alert-success" role="alert">
  <strong>Hello <%= current_user %>!</strong> This is week 42 and today is Friday.
</div>

<div class="form-group">
  <label for="week-goals">Goals for this week</label>
  <textarea id="week-goals" class="form-control" rows="3">
- Basic functioning app to show at Friday meeting
  </textarea>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="today-goals">What did I get done today?</label>
      <textarea id="today-goals" class="form-control" rows="3">
- Basic functionality of hello world app
- Copy data dump from Acxiom to PCI server
      </textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="today-goals">What did I plan to do today?</label>
        <textarea id="today-goals" class="form-control" rows="3">
- Basic functionality of hello world app
- Copy data dump from Acxiom to PCI server
        </textarea>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="blockers">What am I doing tomorrow?</label>
  <textarea id="blockers" class="form-control" rows="3">
- Obtain java code for automated process (2 days ago, pings: 1 day ago, 45 minutes ago, 15 minutes ago)
- Access to NDC PCI environment (1 week ago, pings: 2 days ago, 1 day ago, 10 hours ago, 5 minutes ago)
  </textarea>
</div>

<div class="form-group">
  <label for="blockers">Is anything blocking me?</label>
  <textarea id="blockers" class="form-control" rows="3">
- Obtain java code for automated process (2 days ago, pings: 1 day ago, 45 minutes ago, 15 minutes ago)
- Access to NDC PCI environment (1 week ago, pings: 2 days ago, 1 day ago, 10 hours ago, 5 minutes ago)
  </textarea>
</div>

<div class="form-group">
  <label for="activity-feed">Here's what I did today</label>
  <textarea id="activity-feed" class="form-control" rows="6">
- Hey 1 (1 hour)
- Hey 2 (20 minutes)
  </textarea>
</div>