<div class="alert alert-success" role="alert">
  <strong>Hello <%= current_user %>!</strong> This is week 42 and today is Friday.
</div>

<div class="form-group">
  <label for="week-goals">Goals for this week</label>
  <textarea id="week-goals" class="form-control" rows="3">
- Basic functioning app to show at Friday meeting
  </textarea>
</div>

<div class="form-group">
  <label for="week-goals">What did I accomplish this week?</label>
  <textarea id="week-goals" class="form-control" rows="3">
- Basic functioning app to show at Friday meeting
  </textarea>
</div>

<div class="form-group">
  <label for="week-goals">What are my goals for next week?</label>
  <textarea id="week-goals" class="form-control" rows="3">
- Basic functioning app to show at Friday meeting
  </textarea>
</div>


<div class="form-group">
  <label for="blockers">These are my current blockers?</label>
  <textarea id="blockers" class="form-control" rows="3">
- Obtain java code for automated process (2 days ago, pings: 1 day ago, 45 minutes ago, 15 minutes ago)
- Access to NDC PCI environment (1 week ago, pings: 2 days ago, 1 day ago, 10 hours ago, 5 minutes ago)
  </textarea>
</div>

<h3>Review of this week</h3>

<h4>Monday</h4>
<table class="table">
  <thead>
    <tr>
      <th>Goals Accomplished</th>
      <th>Worklog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h4>Tuesday</h4>
<table class="table">
  <thead>
    <tr>
      <th>Goals Accomplished</th>
      <th>Worklog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<h4>Wednesday</h4>
<table class="table">
  <thead>
    <tr>
      <th>Goals Accomplished</th>
      <th>Worklog</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
          <li>Item 1</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>